<h3>Quick booking</h3>
			<div class="cs-select">
				<div>
					<div class="dropdown">
						<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">Select Cinema  
							<i class="glyphicon glyphicon-menu-down"></i>
						</button>
						<ul class="dropdown-menu">
							
						</ul>
					</div>
				</div>
				<div>
					<div class="dropdown">
						<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">Movie Date  
							<i class="glyphicon glyphicon-menu-down"></i>
						</button>
					</div>
				</div>
				<div>
					<div class="dropdown">
						<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">Select Time  
							<i class="glyphicon glyphicon-menu-down"></i>
						</button>
					</div>
				</div>
				<div>
					<div class="dropdown">
						<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">Select Class  
							<i class="glyphicon glyphicon-menu-down"></i>
						</button>
					</div>
				</div>
				<div>
					<div class="dropdown">
						<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">No. of Seats  
							<i class="glyphicon glyphicon-menu-down"></i>
						</button>
					</div>
				</div>
				<div>
					<button type="button" class="btn btn-default cine-book-btn btn-primary">Book Ticket</button>
				</div>
			</div>