<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CineScope</title>
	<link rel="stylesheet" href="../lib/bootstrap-3.3.2-dist/css/bootstrap.css">
	<link rel="stylesheet" href="../lib/customCss/cinescope.css">
</head>
<body>
	<div class="container-fluid header">
		
	
		<div class="navbar navbar-default">
			<div class="container ">
			<!-- brand -->
				<a href="" class="navbar-brand">CineScope Cinemas <i class="glyphicon glyphicon-film"></i></a>
			<!-- header -->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="">Cinemas</a></li>
					<li><a href="">CineScope Exclusive</a></li>
					<li><a href="">Gift Cards</a></li>
					<li><a href="">Bulk Bookings</a></li>
					<li><a href="">Career at CineScope</a></li>
					<li class="dropdown">
						<a href="" data-toggle="dropdown" >Bangalore <span class='caret'></span> </a>

						<ul class="dropdown-menu" >
							<li><a href="">Kolkata</a></li>
							<li><a href="">Mumbai</a></li>
						</ul>
					</li>
				</ul>
			


			</div>
		
		</div>
	</div>
	<div class="container well">
	<div class ="container col-md-6">
		
	</div>
	<!-- user form -->
	<div class ="container col-md-4">
		<h3>Quick booking</h3>
		<div class="cs-select">
			<div>
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">Select Cinema  
						<i class="glyphicon glyphicon-menu-down"></i>
					</button>
					<ul class="dropdown-menu">
						
					</ul>
				</div>
			</div>
			<div>
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">Movie Date  
						<i class="glyphicon glyphicon-menu-down"></i>
					</button>
				</div>
			</div>
			<div>
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">Select Time  
						<i class="glyphicon glyphicon-menu-down"></i>
					</button>
				</div>
			</div>
			<div>
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">Select Class  
						<i class="glyphicon glyphicon-menu-down"></i>
					</button>
				</div>
			</div>
			<div>
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle cs-book-dropdown">No. of Seats  
						<i class="glyphicon glyphicon-menu-down"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- user form -->
	</div>

	<div class="container-fluid footer">
		
		
	</div>
	<script type="text/javascript" src="../lib/jquery/jquery-2.0.2.js"></script>
	<script type="text/javascript" src="../lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>
