<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CineScope</title>
	<link rel="stylesheet" href="../lib/bootstrap-3.3.2-dist/css/bootstrap.css">
	<link rel="stylesheet" href="../lib/customCss/cinescope.css">
</head>
<body>
	<div class="container-fluid header">
		
	
		<div class="navbar navbar-default">
			<div class="container ">
			<!-- brand -->
				<a href="" class="navbar-brand">CineScope Cinemas</a>
			<!-- header -->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="">Cinemas</a></li>
					<li><a href="">CineScope Exclusive</a></li>
					<li><a href="">Gift Cards</a></li>
					<li><a href="">Bulk Bookings</a></li>
					<li><a href="">Career at CineScope</a></li>
					<li>
						<a href="" data-toggle="dropdown" >Bangalore <span class='caret'></span> </a>

						<ul class="dropdown-menu" >
							<li><a href="">Kolkata</a></li>
							<li><a href="">Mumbai</a></li>
						</ul>
					</li>
				</ul>
			<!-- cities -->


			</div>
		
		</div>
	</div>
	<div class ="container col-md-6">
		
	</div>
	<div class ="container col-md-6">
		
	</div>
	<script type="text/javascript" src="../lib/jquery/jquery-2.0.2.js"></script>
	<script type="text/javascript" src="../lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>