<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CineScope</title>
	<link rel="stylesheet" href="../assets/css/vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../assets/css/custom/cinescope.css">
</head>
<body ng-app='MovieModule'>
	<div class="container-fluid header">
		
	
		<div class="navbar navbar-default">
			<div class="container ">
			<!-- brand -->
				<a href="" class="navbar-brand">CineScope Cinemas <i class="glyphicon glyphicon-film"></i></a>
			<!-- header -->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="">Cinemas</a></li>
					<li><a href="">CineScope Exclusive</a></li>
					<li><a href="">Gift Cards</a></li>
					<li><a href="">Bulk Bookings</a></li>
					<li><a href="">Career at CineScope</a></li>
					<li class="dropdown">
						<a href="" data-toggle="dropdown" >Bangalore <span class='caret'></span> </a>

						<ul class="dropdown-menu" >
							<li><a href="">Kolkata</a></li>
							<li><a href="">Mumbai</a></li>
						</ul>
					</li>
				</ul>
			


			</div>
		
		</div>
	</div>
	<div class="container well row">
		<div class ="container col-md-8">
			<div id="carousel-cine" class="carousel slide" data-ride="carousel">
				<!-- Indicator -->
				<ol class="carousel-indicators cine-slider">
				    <li data-target="#carousel-cine" data-slide-to="0" class="active"></li>
    				<li data-target="#carousel-cine" data-slide-to="1"></li>
    				<li data-target="#carousel-cine" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->

				 <div class="carousel-inner" role="listbox">

				 	<div class="item active">
				 		<img src="../assets/images/HO00007736.jpg" alt="Badlapur">
				 	</div>
				 	<div class="item">
				 		<img src="../assets/images/HO00007801.jpg" alt="Badlapur">
				 	</div>
				 	<div class="item">
				 		<img src="../assets/images/HO00007860.jpg" alt="Badlapur">
				 	</div>
				 </div>

			</div>
			
		</div>
		<!-- user form -->
		<div class ="container col-md-4 form-group" ngView>
			
		</div>
	<!-- user form -->
	</div>





	<div class="container-fluid footer row">
		<div class="col-md-offset-2 col-md-5">
			<h4>About us</h4>
			<div>
			<p>
				Cinescope Is The Largest And The Most Premium Film And Retail Entertainment Company In India. Since Its Inception In 1997, The Brand Has Redefined The Way Entertainment Is Consumed In India. It Currently Operates A Cinema Circuit Comprising Of 462 Screens In 104 Properties In 44 Cities Pan India.
			</p>
			</div>
		</div>
		<div class="col-md-offset-2 col-md-3">
			<h4>General</h4>
			<div>
				<ul class="list-unstyled">
					<li><a href="">About Us</a></li>
					<li><a href="">FAQ'S</a></li>
					<li><a href="">FEEDBACK</a></li>
				</ul>
			</div>	
		</div>
		
	</div>
<!--<script type="text/javascript" src="../lib/jquery/jquery-2.0.2.js"></script>
	<script type="text/javascript" src="../lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>-->

	<script data-main="../assets/javascript/main/home-main.js" src="../assets/javascript/vendor/require/require.js"></script>
</body>
</html>
